* {
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}
.header{
  color: black;
  font-size: 1.8em;

}
.article{
  color: #4d4e53;
  margin: 15px;
  font-size: 15px;
}
.code{
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
section li{
  margin: 15px 0px 0px 20px;
}